.container {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 8;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
  scroll-margin-top: 64px;
  
}

.header {
  display: flex;
  align-self: flex-start;
  align-content: space-between;
  justify-content: space-evenly;
  height: 100%;
  width: 40%;
  flex-direction: column;
  margin: 0.2rem;
}

.header > h1 {
  line-height: 3rem;
  font-size: 3rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}

.header > p {
  padding-left: 1rem;
}

.form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.inputName {
  margin-bottom: 1rem;
  border-bottom-width: 2px;
}

.inputEmail {
  margin-bottom: 1rem;
  border-bottom-width: 2px;
}

.inputSubject {
  margin-bottom: 1rem;
  border-bottom-width: 2px;
}

.inputMessage {
  resize: none;
  margin-bottom: 1rem;
  border-bottom-width: 2px;
}

.buttons {
  padding: 0;

  display: flex;

  width: 70%;

  gap: 2rem;
  align-self: center;
  justify-content: space-around;
}

.icon {
  color: midnightblue;
  height: 5rem;
  width: 10rem;
}
