.container {
  position: relative;
  display: grid;
  width: 100%;
  height: calc(100% - 128px);
  max-height: calc(100% - 128px);
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  background-color: #fffffa;
  overflow: hidden;
}

.container:before {
  position: relative;
  content: "";
  background-color: lightcoral;
  opacity: 0.15;
  grid-row-start: 1;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 6;
  clip-path: polygon(0% 0%, 40% 0%, 100% 100%, 0 100%);
  z-index: 0;
}

.info {
  align-self: center;
  justify-self: center;
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
  gap: 3vmin;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.introduction {
  font-size: 3.5vmin;
}

.job-role {
  font-size: 4vw;
  width: 100%;
}

.paragraph {
  display: inline-block;
  width: 80%;
  height: 30%;
  font-size: 1.3vw;
  font-weight: lighter;
}

.button-div {
  display: flex;
  align-self: center;
  justify-self: center;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 10;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 50%;
  z-index: 1;
}

.button {
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: calc(0.1em + 1.5vw);
  overflow: hidden;
  color: #fffffa;
}

.profile-div {
  display: flex;
  position: relative;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 8;
  max-height: 100%;
  max-width: 80%;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: flex-start;
}

.profile-div > img {
  z-index: 1;
}

.square-border {
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid;
  border-width: 6px;
  border-color: lightcoral;
  z-index: 0;
  margin-top: -15%;
  margin-left: 15%;
}
