.container {
    position: relative;
    display: grid;
    width: 100%;
    height: calc(100vh - 128px);
    max-height: calc(100vh - 128px);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    background-color: #fffffa;
    overflow: hidden;
    scroll-behavior: smooth;
  }


  @media(max-width:450px){
    .container{
      height: fit-content;
      max-height: none;
    }

  }