

.container {
    position: relative;
    display: grid;
    width: 100%;
    height: calc(100vh - 128px);
    max-height: calc(100vh - 128px);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    background-color: #fffffa;
    overflow: hidden;
    scroll-behavior: smooth;
  }


  .header{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    grid-column-start: 2;
    grid-column-end:8;
    grid-row-start: 2;
    grid-row-end: 4;
    gap:2vw;

  }

  .header>h1{
    font-size: max(2.5rem, 4vw);
    line-height: 2.5rem;
  }

  .header>p{
    font-size: min(1.3rem,3vw);
    font-weight:lighter;
  }



  .button-div {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 11;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 50%;
    z-index: 1;
  }

  .downarrow{

    color:lightcoral;
    height:100%;
    width:100%;
    cursor: pointer;
  }



