

.container {
    position: relative;
    display: grid;
    width: 100%;
    height: calc(100vh - 128px);
    max-height: calc(100vh - 128px);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    background-color: #fffffa;
    overflow: hidden;
    scroll-behavior: smooth;
  }


  .header{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    grid-column-start: 2;
    grid-column-end:8;
    grid-row-start: 2;
    grid-row-end: 4;
    gap:0.3vw;

  }

  .header>h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .header>p{
    font-size: 1.5rem;
    font-weight:lighter;
  }



