

.container {
    position: relative;
    display: grid;
    width: 100%;
    height: calc(100% - 128px);
    max-height: calc(100% - 128px);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    background-color: #fffffa;
    overflow: hidden;
  }


  .header{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    grid-column-start: 2;
    grid-column-end:8;
    grid-row-start: 2;
    grid-row-end: 4;
    gap:1vw;
  }

  .header>h1{
    font-size: 3.5em;
  }

  .header>p{
    font-size: 1.5em;
  }



  .car-div{
  display:flex;
    grid-column-start: 3;
    grid-column-end:7;
    grid-row-start: 5;
    grid-row-end: 9;
  }

