.work-exp{
    display:flex;
    flex-direction: column;
    gap:0.6rem;
}



.header{
    justify-content: space-between;
    display:flex;

}

.header>h4{

    font-size:min(1rem,2vw);
    line-height:2vw;
    font-weight: 700;
    height:fit-content;
    align-self: flex-end;
}

.header>p{

    align-self: flex-end;
    height:fit-content;
    font-size: min(1rem,2vw);
  line-height: 2vw;
  text-align: bottom;
}

.work-body>p{
    font-size: min(1rem,2vw);
}